.searchContainer {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 10px 10px;
  border-radius: 20px;
  background-color: #f0f2f5;
  border: 1px solid #e0e0e0;
}

.searchIcon {
  color: #65676b;
  margin-right: 8px;
}

.searchInput {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  padding: 4px 0;
  color: #1c1e21;
}