.listTitle {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;

  margin: 16px;
}


.chatList {
  padding-left: 0;

  margin: 0;
  list-style: none;
}

.statusMessage {
  padding: 24px 16px;
  text-align: center;
  color: #65676b;
  font-size: 0.9rem;
}

.error {
  color: #d32f2f;
  font-weight: 500;
}
