/*PlaceholderContainer*/
.chatPlaceholderContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/*WindowContainer*/
.chatWindowContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
}

.statusMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.2rem;
  color: #65676b;
}
