.buttonContainer {
  padding: 0 8px 0 8px;
}

.createChatButton {
  background: #eaeff4;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 44px;
  padding: 0 8px 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.createChatButton:hover {
  background: #c6e0f8;
}